[submodule "order-system"]
	path = order-system
	url = https://github.com/james-bowers/order-system
[submodule "me"]
	path = me
	url = https://github.com/james-bowers/me
[submodule "ex-sdk-bowers"]
	path = ex-sdk-bowers
	url = git@github.com:james-bowers/ex-sdk-bowers.git
