[submodule "order-system"]
	path = order-system
	url = https://github.com/james-bowers/order-system
[submodule "me"]
	path = me
	url = https://github.com/james-bowers/me
[submodule "bowers-lib"]
	path = bowers-lib
	url = git@github.com:james-bowers/bowers-lib.git
[submodule "bowers-sdk"]
	path = bowers-sdk
	url = git@github.com:james-bowers/bowers-sdk.git
