version: "3.1"

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    ports:
      - 5432:5432
  order-system:
    ports:
      - 8084:8084
    build: ./order-system
    command: sh -c "mix ecto.reset && mix run --no-halt"
    links:
      - "db:database"
  me:
    ports:
      - 8085:8084
    build: ./me
    command: sh -c "mix ecto.reset && mix run --no-halt"
    links:
      - "db:database"
